html {
	font-size: 62.5%;
	margin: 0;
}
body {
	font-size: 2.4rem;
	padding: 0px;
	font-family: 'Merriweather', serif;
}

a{
	text-decoration: none;
	color: antiquewhite;
}

h1, h2, h3 {
	font-family: 'Karla', sans-serif;
}

/* lists */

.list{
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
}



/* navigation */

.nav-bar{
	background-color: #282828;
}
