/* VARIABLES (insert default colors) */

:root {
	--color-body-dark: #ebdbb2;
	--color-red: #cc241d;
	--color-yellow: #d79921 ;
	--color-blue: #458588 ;
	--color-green: #98971a ;
}

/* TYPOGRAPHY */

@font-face {
  font-family: 'greenos';
  src: url('../fonts/greenos.ttf') format('truetype');
}


html {
	font-size: 62.5%;
	margin: 0;
}
body {
	background: #282828;
	font-size: 2.4rem;
	padding: 0px;
	line-height: 1.5;
	font-family: 'Karla', sans-serif;
	color: var(--color-body-dark);
	letter-spacing: 0.2px;
}

h1, h2, h3 {
	font-family: 'greenos', sans-serif;
}

h1{
	font-weight: 800;
	font-size: 15rem;
}

h2{
	font-weight: 600;
	font-size: 10rem;
}

h3{
	font-weight: 500;
	font-size: 5rem;
}

/* icons */

.icon{
	width: 4rem;
	height: 4rem;
	padding: 0;
	margin: 0;
}

.icon--white{
	color: var(--color-body-dark);
}

.icon--red{
	color: var(--color-red);
}
.icon--blue{
	color: var(--color-blue);
}
.icon--yellow{
	color: var(--color-yellow);
}
.icon--green{
	color: var(--color-green);
}

.icon-container{
	background: var(--color-body-dark);
	display: inline-flex;
	width: 6rem;
	height: 6rem;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
}

/* links */

a{
	text-decoration: none;
	color: var(--color-body-dark);
	transition: color 0.15s;
}

a:hover{
	color: #fff;
}

/* lists */

.list{
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
}

.nav__list-item{
	padding: .5rem 0;
}


/* collapsibles */



/* navigation */

.nav-bar{
	background-color: #282828;
}

.list{
	margin: 0;
	padding: 0; 
}
