* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0px;
	padding: 0px;
}

/* header */

.bg-div {
	background-image: url("../images/ign-waifu.png");
	width: 100vw;
	height: 100vh;
	margin-top: 0px;
	background-size: cover;
	background-position: center;
}

.header {
	display: flex;
	justify-content: space-between;
}

.nav-bar {
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 30px;
}

.nav-list-items {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	height: 150%;
	padding-left: 0px;
	padding-top: 0px;
}

.nav-list-items li {
	padding: 8px;
	font-size: 30px;
	border-style: solid;
	border-color: white;
	background-color: rgba(0, 0, 0, 0.8);
}

a {
	text-decoration: none;
	color: white;
}

/* main */

.main-text {
	font-size: 140%;
}

#hero-img {
	width: 100vw;
	height: 100vh;
	background-size: cover;
}

#name {
	font-size: 1000%;
	color: white;
	box-shadow: 0 0 10px black;
	margin-top: 580px;
	margin-left: 20px;
	width: fit-content;
	text-align: center;
	position: relative;
	z-index: 1;
}

#name::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
	z-index: -1;
}

.portfolio {
	height: 100vh;
	display: flexbox;
	flex-direction: column;
}

/* footer */
