/* VARIABLES (insert default colors) */

:root {
	--color-body-dark: #ebdbb2;
	--color-red: #cc241d;
	--color-yellow: #d79921 ;
	--color-blue: #458588 ;
	--color-green: #98971a ;
	  --border-radius: 30px;
}


/* TYPOGRAPHY */

@font-face {
  font-family: 'greenos';
  src: url('../fonts/greenos.ttf') format('truetype');
}


html {
	font-size: 62.5%;
	margin: 0;
}
body {
	background: #282828;
	font-size: 2.4rem;
	padding: 0px;
	line-height: 1.5;
	font-family: 'Merriweather', sans-serif;
	color: var(--color-body-dark);
	letter-spacing: 0.2px;
	font-weight: 300;
}

h1, h2, h3 {
	font-family: 'greenos', sans-serif;
	height: fit-content;
}

h1{
	font-weight: 800;
	font-size: 7rem;
}

h2{
	font-weight: 600;
	font-size: 6rem;
}

h3{
	font-weight: 500;
	font-size: 5rem;
}

/* icons */

.icon{
	width: 4rem;
	height: 4rem;
	padding: 0;
	margin: 0;
}

.icon--white{
	color: var(--color-body-dark);
}

.icon--red{
	color: var(--color-red);
}
.icon--blue{
	color: var(--color-blue);
}
.icon--yellow{
	color: var(--color-yellow);
}
.icon--green{
	color: var(--color-green);
}

.icon-container{
	background: var(--color-body-dark);
	display: inline-flex;
	width: 6rem;
	height: 6rem;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
}

/* links */

a{
	text-decoration: none;
	color: var(--color-body-dark);
	transition: color 0.15s;
}

a:hover{
	color: #fff;
}

/* lists */

.list{
	display: flex;
	flex-direction: column;
	align-items: center;
	list-style-type: none;
}

.nav__list-item{
	padding: .5rem 0;
}


/* collapsibles */



/* navigation */

.nav-bar{
	background-color: #282828;
}

.list{
	margin: 0;
	padding: 0; 
}


/* blocks */

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block {
  --padding-vertical: 4rem;
  padding: var(--padding-vertical) 2rem;
}

.block__header {
  text-align: center;
	margin-bottom: 4rem;
	letter-spacing: 7px;
}

.block__heading{
  margin-top: 0;
}


/* hero */

.hero{
	height: 100vh;
	position: relative;
}

.hero--heading{
  font-weight: 200;
	margin: 0;
}

.hero__tagline{
	margin: 0;
	letter-spacing: 0.3px;
}

.hero .block__header{
	margin: 0;
}

.hero__image{
	background-size: contain;
	overflow: hidden;
	height: 75vh;
	border-radius: var(--border-radius);
}

.hero .scroll-prompt{
	position: absolute;
	top: 85%;
	left: 40vw;
  animation: moveUpDown 2s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

