<div class="block container">
      <div class="block__header">
        <h2>About Me</h2>
      </div>
      <div class="grid grid--1x2 about">
        <div class="about__profileimg">
          <img
            class="profile-photo"
            src="images/jakob-owens-lkMJcGDZLVs-unsplash.jpg"
            alt=""
          />
        </div>
        <div class="about__content">
          <h3>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque,
            impedit!
          </h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
            sit.
          </p>
          <span class="nav-icons">
            <svg class="icon icon--blue">
              <use xlink:href="images/sprite.svg#folder"></use>
            </svg>
            <svg class="icon icon--blue">
              <use xlink:href="images/sprite.svg#camera"></use>
            </svg>
            <svg class="icon icon--blue">
              <use xlink:href="images/sprite.svg#mail"></use>
            </svg>
          </span>
        </div>
      </div>
    </div>