    <!-- card with descriptions -->
    
    <article class="card">
      <img src="images/ign-waifu.png" alt="" />
      <div class="card__header bottom-left"><h3>Lorem ipsum.</h3></div>
      <div class="card__footer-description bottom-left">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum,
          ducimus.
        </p>
      </div>
    </article>


<!-- card with icons and text -->
        <div class="card gradient-hidden">
      <img src="images/ign-waifu.png" alt="" />
      <div class="card__footer-description bottom-left">
        <p>
      <span class="icon-container">
        <svg class="icon icon--red">
          <use xlink:href="images/sprite.svg#aperture"></use>
        </svg>
       
      </span>f1.4
            <span class="icon-container">
        <svg class="icon icon--blue">
          <use xlink:href="images/sprite.svg#camera"></use>
        </svg>
       
      </span>35mm
            <span class="icon-container">
        <svg class="icon icon--yellow">
          <use xlink:href="images/sprite.svg#clock"></use>
        </svg>
       
      </span>1/250s
    </p>
      </div>
    </div>