    <div class="slideshow-container carousel-wrapper">
      <!-- Full-width images with number and caption text -->

      <div class="mySlides card gradient carousel__card fade">
        <img src="images/girl-reading-book.jpg" style="width: 100%" />
        <div class="text card__header bottom-left"><h3>Project Title</h3></div>
        <div class="card__footer-description bottom-left">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum,
            ducimus.
          </p>
        </div>
      </div>
      <div class="mySlides card gradient carousel__card fade">
        <img src="images/futurism.jpg" style="width: 100%" />
        <div class="text card__header bottom-left"><h3>Project Title</h3></div>
        <div class="card__footer-description bottom-left">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum,
            ducimus.
          </p>
        </div>
      </div>
      <div class="mySlides card gradient carousel__card fade">
        <img src="images/ign-waifu.png" style="width: 100%" />
        <div class="text card__header bottom-left"><h3>Project Title</h3></div>
        <div class="card__footer-description bottom-left">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum,
            ducimus.
          </p>
        </div>
      </div>
      <div class="mySlides card gradient carousel__card fade">
        <img
          src="images/ghibli-japanese-walled-garden.png"
          style="width: 100%"
        />
        <div class="text card__header bottom-left"><h3>Project Title</h3></div>
        <div class="card__footer-description bottom-left">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum,
            ducimus.
          </p>
        </div>
      </div>

      <!-- Next and previous buttons -->
      <a class="icon-container carousel--nav prev" onclick="plusSlides(-1)">
        <svg class="icon icon--red">
          <use xlink:href="images/sprite.svg#chevron-left"></use>
        </svg>
      </a>
      <a class="icon-container carousel--nav next" onclick="plusSlides(1)">
        <svg class="icon icon--red">
          <use xlink:href="images/sprite.svg#chevron-right"></use>
        </svg>
      </a>
    </div>
    <br />

    <!-- The dots/circles -->
    <div style="text-align: center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
    </div>