    <div class="container block">
      <div class="hero grid grid--1x2">
        <div class="block__header">
          <h1 class="block__heading hero--heading">Hafiz Asim</h1>
          <p class="hero__tagline">Capture your memories</p>
        </div>
        <div class="block__content hero__image">
          <img src="images/house.jpg" alt="" />
        </div>
        <div class="icon-container scroll-prompt slide-top">
          <svg class="icon icon--blue">
            <use href="images/sprite.svg#chevrons-up"></use>
          </svg>
        </div>
      </div>
    </div>

<!-- TODO: fix up hero element by implementing grid. Image currently fucked -->
<!-- fixed. image no longer fucked -->