      <div class="icon-container">
        <svg class="icon icon--red">
          <use xlink:href="images/sprite.svg#chevrons-up"></use>
        </svg>
      </div>

      <div class="icon-container">
        <svg class="icon icon--yellow">
          <use xlink:href="images/sprite.svg#camera"></use>
        </svg>
      </div>

      <div class="icon-container">
        <svg class="icon icon--blue">
          <use xlink:href="images/sprite.svg#droplet"></use>
        </svg>
      </div>


      <div class="icon-container">
        <svg class="icon icon--green">
          <use xlink:href="images/sprite.svg#shopping-cart"></use>
        </svg>
      </div>