
	  <div class="showcase block">
	  	<h2 class="block__header">Recent Highlights</h2>
	  	<div class="showcase__content grid grid--1x3">
			<div class="showcase__image">

<!-- Trigger the Modal -->
<img
  id="myImg"
  src="images/sessho.jpeg"
  alt="sesshoumaru"
  style="width: 100%; max-width: 500px"
/>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01" />

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
			</div>

				<div class="showcase__image">

<!-- Trigger the Modal -->
<img
  id="myImg"
  src="images/sessho.jpeg"
  alt="sesshoumaru"
  style="width: 100%; max-width: 500px"
/>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01" />

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
				</div>
				<div class="showcase__image">

<!-- Trigger the Modal -->
<img
  id="myImg"
  src="images/sessho.jpeg"
  alt="sesshoumaru"
  style="width: 100%; max-width: 500px"
/>

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01" />

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
				</div>
		</div>
	  </div>
